$lightblue : #d6f3fc;

#doctor-bar{
  display: block;
  padding: 30px;
  // #bold {
  //   font-weight: bold;
  // }
  hr {
    display: block;
   height: 1px;
   width: 90%;
   border: 0;
   border-top: 2px solid $lightblue;
   margin: 1em 0;
   padding: 0;
  }
  img {
    border-radius: 7px;
  }
}
